/* Red #B0232A */

/* Blue #003C79 */

.orbiter {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.topmargin {
    margin-top: 0.9375rem;
}
.full-width {
    width: 100%;
}
/* topbar */

.logo {
    background-image: url(./img/logo-nav.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 60px auto;
    position: absolute;
    z-index: 100;
    width: 97px;
    height: 138px;
    /* 97x138 */
}
.topbar-placeholder {
    width: 94px;
    /* 94px */
}
/* cssmenu */

#cssmenu {
    background: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 12em;
}
#cssmenu li {
    font: 67.5%'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}
#cssmenu a {
    background: #333;
    border-bottom: 1px solid #393939;
    color: #ccc;
    display: block;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: normal;
}
#cssmenu a:hover {
    background: #2580a2 url('/img/hover.gif') left center no-repeat;
    color: #fff;
    padding-bottom: 8px;
}