/* Red #B0232A */

/* Blue #003C79 */

/* Responsive iFrame */

.orbiter {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.topmargin {
    margin-top: 0.9375rem;
}
.full-width {
    width: 100%;
}
.half-width {
    width: 49%;
}
/* nav */

.dropdown > .divider,
.dropdown[role="separator"] {
    border-top: solid 1px #B0232A;
    clear: both;
    height: 1px;
    width: 100%;
}
div.about a.about,
div.admissions a.admissions,
div.academics a.academics,
div.athletics a.athletics,
div.arts a.arts,
div.campus a.campus,
div.cespa a.cespa,
div.giving a.giving {
    background: #921d23 !important;
}
a.current > .logo {
    width: 97px;
    height: 138px;
    background-size: 97px auto;
}
a.current > .topbar-placeholder {
    width: 94px;
    height: auto;
}
.logo {
    position: absolute;
    z-index: 99;
    width: 55px;
    height: 79px;
    background-image: url(./img/logo-nav.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 55px auto;
}
.topbar-placeholder {
    width: 52px;
    height: auto;
    /* 94px */
}
/*
.current {
    background: #921d23 !important;
}
*/
.accordion .textarea {
    line-height: 1.25;
}
.zurb-footer-bottom {
    background: #333333;
    padding: 24px 0 10px;
}
.zurb-footer-bottom .design-border {
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom: 25px;
}
.zurb-footer-bottom a.zurb-logo {
    color: #858585;
    font-weight: normal;
    background: url(../img/icons/footer-icons.png) no-repeat 0 3px;
    padding: 25px 0 0 0;
    font-size: 0.88889rem;
    display: inline-block;
    width: 90px;
}
.zurb-footer-bottom a.zurb-logo:hover {
    opacity: 0.8;
}
.zurb-footer-bottom ul.zurb-links {
    margin: 0;
    display: inline-block;
}
.zurb-footer-bottom ul.zurb-links li {
    display: block;
    float: left;
    margin-left: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.77778rem;
    color: #a2a1a1;
}
.zurb-footer-bottom ul.zurb-links li a {
    color: #666666;
    padding: 3px 6px;
}
.zurb-footer-bottom ul.zurb-links li a:hover {
    color: #777777;
}
.zurb-footer-bottom p.copyright {
    margin: 6px 0 0;
    font-size: 0.66667rem;
    color: #666666;
}
.zurb-footer-bottom ul.home-social {
    display: block;
    float: right;
    margin-bottom: 8px;
}
.zurb-footer-bottom ul.home-social li {
    list-style: none;
    display: block;
    float: left;
    margin-left: 10px;
}
.zurb-footer-bottom ul.home-social li:first-child {
    margin-left: 0;
}
.zurb-footer-bottom ul.home-social li a {
    display: block;
    height: 50px;
    width: 50px;
    background: url(img/icons/social.png) no-repeat center 0;
}
.zurb-footer-bottom ul.home-social li a:hover {
    opacity: 0.8;
}
.zurb-footer-bottom ul.home-social li a.twitter {
    background-position: center 0;
}
.zurb-footer-bottom ul.home-social li a.facebook {
    background-position: center -200px;
}
.zurb-footer-bottom ul.home-social li a.mail {
    background-position: center -400px;
}
@media only screen and (max-width: 767px) {
    .zurb-footer-bottom {
        text-align: center;
    }
    .zurb-footer-bottom .columns {
        padding: 0;
    }
    .zurb-footer-bottom a.zurb-logo {
        display: block;
        margin: 0 auto;
    }
    .zurb-footer-bottom ul.zurb-links {
        margin: 16px 0 10px;
    }
    .zurb-footer-bottom ul.home-social {
        float: none;
        margin: 0 0 20px 0;
        text-align: center;
        height: 44px;
        display: inline-block;
    }
}
@media only screen and (max-width: 320px) {
    .zurb-footer-bottom ul.zurb-links li a {
        font-size: 12px;
    }
}